# Directories
.npm/
example/
src/
test/

# Files
.DS_STORE
.editorconfig
.eslintcache
.npmignore
.releaserc
.travis.yml
# Directories
.npm/
docs/

# Files
.DS_STORE
.eslintcache
npm-debug.log*
rollup.*.js
